body {
    background-color: #fff8cf;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}